extends layout
block content
 h1= title
 - let bookid = toShow._id
 - let book_name = toShow.book_name
 - let year_published = toShow.year_published
 - let author = toShow.author
 div
 div.row
 div(class='bookAttr mr-3') book ID is:
 div #{bookid}
 div.row
 div(class='bookAttr mr-3') book name is:
 div #{book_name}
 div.row
 div(class='bookAttr mr-3') year published is:
 div #{year_published}
 div.row
 div(class='bookAttr mr-3') author is:
 div #{author}